 @import url(https://fonts.googleapis.com/css?family=Lobster);
h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
}
body {
    margin-left: 50px; 
    margin-right: 50px;
    background-color: #55BB55;
}
.sidebyside img {
    width:200px;
    height: 150px;
}

.one {
    color: yellow;
}
h2 {
    margin-left: 50px;
}
a, a:visited {
    color: #002;
    text-decoration: none;
}
footer {
    background-color: #FFFFE5;
}
section {
    background-color: #1D6;
    padding: 20px;
    border: 2px solid #777;
    margin-top: 30px;
}