h1 {
    text-align: center;
    font-family: 'SmallCaps', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    font-variant: small-caps;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    color: #FF7812;
}
style {
    background-color: green;
}
main {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    width: 88vw;
    height: 32vw;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}
body {
    margin: 5vw;
    margin-left: 50px; 
    margin-right: 50px;
    background-color: black;
}
.sidebyside img {
    padding-left: 0.5vw;
    margin: 5vw;
    width:200px;
    height: 150px;
}

.one {
    color: white;
}
h2 {
    margin-left: 50px;
    color: #FF6600;
}
a, a:visited {
    color: black;
    text-decoration: none;
}
a:hover, a:active {
    color: orange;
}
footer {
    background-color: #FFFFE5;
}
section {
    background-color: #FFF7F2;
    padding: 20px;
    border: 2px solid #777;
    margin-top: 30px;
}
.links {
    color: #FF6600;
}
span .down {
    color: orange;
}
